// Layout: contains all the CSS that handles the layout, such as the container and any grid systems.

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: 120px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: .8em;
    margin-bottom: 60px;
    color: #fff;
    border-bottom: 2px solid #000;
    background: linear-gradient(90deg, rgb(84, 21, 156),rgb(132, 51, 77));
    h1 {
        margin: auto;
    }
}

table {
    width: 90%;
    border-collapse: collapse;
    max-width: 1000px;
    margin: 0 auto;

    thead {
        font-weight: 600;
    }
    tbody {
        i.fas {
            visibility: hidden;
          }
    } tr:hover  {
        border-color: #000;
        i.fas {
            visibility: visible;
        }
    }
    tr {
        border-bottom: 1px solid #e3dfdf;
        th, td {
            padding: .4em
          }
    }
}

@media screen and (max-width: 630px) {
    table {
        width: 100%;
    }
}