// Layout: contains all the CSS that handles the layout, such as the container and any grid systems.

.container {
    width: 100%;
    // overflow-x: hidden;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: $white-bg;
    z-index: 9;
    .showMenu {
        display: none;
        margin: auto 0;
    }
    .logo_wrapper {
        max-width: 80px;
        img {
            width: 100%;
        }
    }
}

.nav_wrapper {
    align-self: center;
    .closeMenu {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
            list-style-type: none;
            margin: auto 10px;
        }
    }
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.content--section {
    margin: 100px auto;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.cta_content .img_content {
    @include transform(rotate(-15deg));
}

// .text_content {
//     max-width: 500px;
// }
// .img_content {
//     max-width: 500px;
//     img {
//         width: 100%;
//     }
// }

.text_content,
.img_content {
    max-width: 500px;
    margin: 0 20px;
}
.img_content img {
    width: 100%;
}


.footer_wrapper {
    border-top: 2px solid $nav-color;
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    padding: 40px 0;
    .small_logo {
        max-width: 100px;
        img {
            width: 100%;
        }
    }
    section {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .text_content {
        max-width: 420px;
    }
}
@media screen and (max-width: 800px) {
    .content--section {
        margin: 50px auto;
    }
    .flex_row {
        flex-direction: column;
        align-items: center;
        .text_content, .img_content {
            margin: 30px 20px;
            max-width: 500px;
            text-align: center;
        }
    }
    /* 
        *** MOBILE MENU ***
    */
    #showMenu {
        display: block;
    }
    .nav_wrapper {
        display: none;
    }

    .nav_wrapper.show {
        display: flex;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,0.98);
        transition-duration: .5s;
        animation: appear 0.2s linear;
        align-items: center;
        overflow-x: hidden;
        overflow-y: hidden;
        ul {
            flex-direction: column;
            margin: auto;
            li {
                margin: 0.8em;
                text-align: center;
                font-size: 2em;
            }
        }
        .closeMenu {
            display: block;
            position: absolute;
            top: 20px;
            right: 12px;
            font-size: 3.6em;
        }
    }

    @keyframes appear {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
}
@media screen and (max-width: 600px) {
    .footer_wrapper  {
        flex-direction: column;
        align-items: center;
        section {
            margin: 40px;
            text-align: center; 
        }
    }
}
@media screen and (max-width: 360px) {
    .cta_content .text_content h1 {
        font-size: 2.8rem;
    }
}